@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus,
input:focus {
	outline: none;
}

body {
	background-color: #f0f0f5;
}

@layer components {
	.container {
		@apply w-full max-w-[1100px] px-20;
	}

	/* Grid names */
	.grid-item-logo {
		grid-area: logo;
	}
	.grid-item-text {
		grid-area: text;
	}
	.grid-item-form {
		grid-area: form;
	}
	.grid-item-banner {
		grid-area: banner;
	}
	.grid-item-link {
		grid-area: link;
	}
	.grid-item-banner {
		grid-area: banner;
	}

	/* Login page */
	.login-page-container {
		display: grid;
		grid-template:
			"logo"
			"banner"
			"text"
			"form"
			"link" / 100%;
	}

	/* Register page */
	.register-page-container {
		display: grid;
		grid-template:
			"logo"
			"text"
			"form"
			"link" / 100%;
	}

	/* New incident page */
	.new-incident-page-container {
		display: grid;
		grid-template:
			"logo"
			"text"
			"form"
			"link" / 100%;
	}

	@media (min-width: 768px) {
		.login-page-container {
			grid-template:
				"logo banner" 1fr
				"form banner" auto
				"link banner" 1fr / 45% 50%;
		}
		.register-page-container {
			grid-template:
				"logo form" 1fr
				"text form" auto
				"link form" 1fr / 45% 50%;
		}
		.new-incident-page-container {
			grid-template:
				"logo form" 1fr
				"text form" auto
				"link form" 1fr / 45% 50%;
		}
	}
}
